<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{cliente/fragments/layout}"> 
<html lang="pt-br">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Carrinho de compras </title>

</head>
<body>

<div class="container" layout:fragment="corpo">
	<div class="row">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <td></td>
                <td>Nome do Produto</td>
                <td>Estoque</td>
                <td>Quantidade</thd>
                <td>Valor unitário</td>
                <td>Valor total</td>
                <td>Opção</td>
            </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${listaItens}">
				<td>
				    <img  th:src="@{/mostarImagem/{imagem} (imagem=${item.produto.nomeImagenm})}"
				         style="width: 100px; height: 100px;">
				</td>
                    
                    <td th:text="${item.produto.descricao}"></td>
                    
                    <td th:text="${item.produto.quantidadeEstoque}"></td>
                    
                    <td><span th:text="${item.quantidade}"></span>
                    	<a class="btn btn-sm btn-success" th:href="@{/alterarQuantidade/{id}/{acao} (id=${item.produto.id},acao=${1})}" role="button"><i class="fa fa-plus"></i></a>
                    	<a class="btn btn-sm btn-success" th:href="@{/alterarQuantidade/{id}/{acao} (id=${item.produto.id},acao=${0})}" role="button"><i class="fa fa-minus"></i></a>

                    </td>
                    <td th:text="${item.valorUnitario}"></td>
                    <td th:text="${item.valorTotal}"></td>
                    
                    <td >
                    	<a th:href="@{/removerProdutoCarrinho/{id} (id=${item.produto.id})}"><i class="fa-solid fa-trash-can" style="color: #ff0000;"></i></a>
                    </td>
                </tr>
                
                
                <tr>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td>Sub-Total</td>
                	<td class="text-left"><span th:text="${compra.valorTotal}"></span>Mts</td>     
                </tr>
                
                <tr>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td></td>
                	<td>Total</td>
                	<td class="text-left"> <strong><span th:text="${compra.valorTotal}"></span> Mts</strong></td>     
                </tr>
                


         	<tbody>
		</table>
	
	</div>
	
		<div class="col mb-2">
			<div class="row">
				<div class="col-sm-12 col-md-6 text-right">

					<a class="btn btn-lg btn-block btn-light" href="/" role="button">Continuar Comprando</a>
				</div>
				<div class="col-sm-12 col-md-6 text-right">
					<a class="btn btn-lg btn-block  btn-success text-uppercase" th:href="finalizar" role="button">Finalizar a Compra</a>
					
				</div>
			</div>
		
		</div>
		</div>
	
</div>



<!--duas div de fechamento-->
</body>
</html>

	
	